header#main-header {
    max-width: 2000px;
    height: 60px;
    background: #30b6d8;
    font-size: 30px;
    font-weight: bold;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}